<md-grid-list id="table-2" md-cols="13" md-row-height="3:2" md-gutter="1px">
  <md-grid-tile class="strong" md-rowspan="1" md-colspan="13"><h3>Tabela 2: Atividades centrais</h3></md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">Ciclo</md-grid-tile>
  <md-grid-tile class="gray strong" md-colspan="3">Reuniões devocionais</md-grid-tile>
  <md-grid-tile class="gray strong" md-colspan="3">Aulas bahá'ís para crianças</md-grid-tile>
  <md-grid-tile class="gray strong" md-colspan="3">Grupos de pré-jovens</md-grid-tile>
  <md-grid-tile class="gray strong" md-colspan="3">Círculos de estudos</md-grid-tile>

  <% ['devotional_gathering', 'children_classes', 'junior_youth_group', 'study_circle'].each do |a| %>
    <% {count: '# de ativ.', participants: '# de partic.', non_bahais_friends: '# de amigos'}.each do |k, v| %>
      <md-grid-tile class="gray strong small"><%= v %></md-grid-tile>
    <% end %>
  <% end %>

  <% (0..3).each do |c| %>
    <md-grid-tile class="gray translucid">{{growth_profiles[<%= c %>].cycle}}</md-grid-tile>
    <% ['devotional_gathering', 'children_classes', 'junior_youth_group', 'study_circle'].each do |a| %>
      <% ['_count', '_participants', '_non_bahai_friends'].each do |b| %>
        <md-grid-tile class="<%= a %> translucid">
        <% if c < 3 %>
          {{growth_profiles[<%= c %>].<%= a + b %>}}
        <% else %>
          <input type="number" ng-model="growth_profiles[<%= c %>].<%= a + b %>">
        <% end %>
        </md-grid-tile>
      <% end %>
    <% end %>
  <% end %>
</md-grid-list>
