<md-content class="page-container" layout-padding>
  <div ng-init="growth_profile = <%= @growth_profile.to_json %>" />
  <div ng-init="cluster = <%= @cluster.to_json %>" />

  <md-card class="page" layout-padding>
    <%= render 'info' %>
    <%= render 'table_1' %>
    <%= render 'table_2' %>
    <%= render 'table_3' %>
    <%= render 'table_4' %>
    <%= render 'table_5' %>
    <%= render 'table_6' %>
    <h2>Comentários</h2>
    <%= render 'table_7' %>
    <%= render 'table_8' %>
    <%= render 'table_9' %>
    <%= render 'table_10' %>

    <md-button class="md-raised" class="send-form" ng-click="sendForm()">Enviar ({{formStatus}})</md-button>
  </md-card>
</md-content>
