<md-content class="page-container" layout-padding ng-init="growth_profile = <%= @growth_profile.to_json %>">
  <md-card class="page" layout-padding>
    {{formStatus}}

    <md-grid-list class="left" id="cluster-info" md-cols="8" md-row-height="4:1" md-gutter="1px">
      <md-grid-tile md-colspan="4">Agrupamento</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.name %></md-grid-tile>
      <md-grid-tile md-colspan="4">Estágio de desenvolvimento</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.growth_stage %></md-grid-tile>
      <md-grid-tile md-colspan="4">Conselho Regional Bahá'í</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.counsil_name %></md-grid-tile>
      <md-grid-tile md-colspan="4">Número de coordenadores do instituto</md-grid-tile>
      <md-grid-tile>CIA: <strong><%= @cluster.cia_count %></strong></md-grid-tile>
      <md-grid-tile>CABC: <strong><%= @cluster.cabc_count %></strong></md-grid-tile>
      <md-grid-tile>CGPJ: <strong><%= @cluster.cgpj_count %></strong></md-grid-tile>
      <md-grid-tile>CCE: <strong><%= @cluster.cce_count %></strong></md-grid-tile>
      <md-grid-tile md-colspan="4">Tamanho geográfico (aproximado)</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.geographic_size %></md-grid-tile>
      <md-grid-tile md-colspan="4">População total da área</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.population_size %></md-grid-tile>
      <md-grid-tile md-colspan="4">Número atual de localidades com um ou mais crentes</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.sites_with_believers_count %></md-grid-tile>
      <md-grid-tile md-colspan="4">Número atual de Assembleias Espirituais Locais</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.lsa_count %></md-grid-tile>
      <md-grid-tile md-colspan="4">Nome dos membros do Corpo Auxiliar no agrupamento</md-grid-tile>
      <md-grid-tile md-colspan="4" class="strong"><%= @cluster.abm_names %></md-grid-tile>
    </md-grid-list>

    <md-grid-list id="table-1" md-cols="11" md-row-height="2:1" md-gutter="1px">
      <md-grid-tile class="strong" md-rowspan="1" md-colspan="11"><h3>Tabela 1: Jovens e adultos que completaram cursos do Instituto de Capacitação</h3></md-grid-tile>
      <md-grid-tile class="strong gray"  md-rowspan="3" md-colspan="1">Ciclo</md-grid-tile>
      <md-grid-tile class="strong gray"  md-rowspan="1" md-colspan="10">Livro</md-grid-tile>
      <md-grid-tile class="strong book1" md-rowspan="2" md-colspan="1">1</md-grid-tile>
      <md-grid-tile class="strong book2" md-rowspan="2" md-colspan="1">2</md-grid-tile>
      <md-grid-tile class="strong book3" md-rowspan="1" md-colspan="3">3</md-grid-tile>
      <md-grid-tile class="strong book4" md-rowspan="2" md-colspan="1">4</md-grid-tile>
      <md-grid-tile class="strong book5" md-rowspan="2" md-colspan="1">5</md-grid-tile>
      <md-grid-tile class="strong book6" md-rowspan="2" md-colspan="1">6</md-grid-tile>
      <md-grid-tile class="strong book7" md-rowspan="2" md-colspan="1">7</md-grid-tile>
      <md-grid-tile class="strong book8" md-rowspan="2" md-colspan="1">8</md-grid-tile>
      <md-grid-tile class="strong book3" md-rowspan="1" md-colspan="1">S1</md-grid-tile>
      <md-grid-tile class="strong book3" md-rowspan="1" md-colspan="1">S2</md-grid-tile>
      <md-grid-tile class="strong book3" md-rowspan="1" md-colspan="1">S3</md-grid-tile>

      <md-grid-tile class="gray translucid">{{growth_profile.cycle}}</md-grid-tile>
      <% ['book1', 'book2', 'book3grade1', 'book3grade2', 'book3grade3', 'book4', 'book5', 'book6', 'book7', 'book8'].each do |f| %>
        <md-grid-tile class="<%= f[0...5] %> translucid"><input type="number" ng-model="growth_profile.<%= f %>"></md-grid-tile>
      <% end %>
    </md-grid-list>

    <md-grid-list id="table-2" md-cols="13" md-row-height="3:2" md-gutter="1px">
      <md-grid-tile class="strong" md-rowspan="1" md-colspan="13"><h3>Tabela 2: Atividades centrais</h3></md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Ciclo</md-grid-tile>
      <md-grid-tile class="gray strong" md-colspan="3">Reuniões devocionais</md-grid-tile>
      <md-grid-tile class="gray strong" md-colspan="3">Aulas bahá'ís para crianças</md-grid-tile>
      <md-grid-tile class="gray strong" md-colspan="3">Grupos de pré-jovens</md-grid-tile>
      <md-grid-tile class="gray strong" md-colspan="3">Círculos de estudos</md-grid-tile>

      <% ['devotional_gathering', 'children_classes', 'junior_youth_group', 'study_circle'].each do |a| %>
        <% {count: '# de ativ.', participants: '# de partic.', non_bahais_friends: '# de amigos'}.each do |k, v| %>
          <md-grid-tile class="gray strong small"><%= v %></md-grid-tile>
        <% end %>
      <% end %>

      <md-grid-tile class="gray translucid">{{growth_profile.cycle}}</md-grid-tile>
      <% ['devotional_gathering', 'children_classes', 'junior_youth_group', 'study_circle'].each do |a| %>
        <% ['_count', '_participants', '_non_bahai_friends'].each do |b| %>
          <md-grid-tile class="<%= a %> translucid"><input type="number" ng-model="growth_profile.<%= a + b %>"></md-grid-tile>
        <% end %>
      <% end %>
    </md-grid-list>

    <md-grid-list id="table-3" md-cols="9" md-row-height="2:1" md-gutter="1px">
      <md-grid-tile class="strong" md-colspan="9"><h3>Tabela 3: Expansão durante ciclos de atividades</h3></md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Ciclo</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2" md-colspan="2">Nº estimado de amigos envolvidos na Fase de Expansão</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2" md-colspan="2">Nº de crianças e pré-jovens registrados durante o Ciclo</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2" md-colspan="2">Nº de jovens e adultos declarados durante o Ciclo</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2" md-colspan="2">Nº de novos crentes envolvidos no Programa do Instituto</md-grid-tile>

      <md-grid-tile class="gray translucid">{{growth_profile.cycle}}</md-grid-tile>
      <% ['expansion_phase_involved_count', 'expansion_phase_non_bahais_count', 'children_and_junior_youth_registered_count', 'new_believers_involved_count'].each do |a| %>
        <md-grid-tile class="<%= a %> translucid" md-colspan="2"><input type="number" ng-model="growth_profile.<%= a %>"></md-grid-tile>
      <% end %>
    </md-grid-list>

    <md-grid-list id="table-4" md-cols="7" md-row-height="2:1" md-gutter="1px">
      <md-grid-tile class="strong" md-colspan="7"><h3>Tabela 4: População bahá’í</h3></md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Ciclo</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Crianças</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Pré-jovens</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Jovens</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Homens adultos</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Mulheres adultas</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Total de crentes</md-grid-tile>

      <md-grid-tile class="gray translucid">{{growth_profile.cycle}}</md-grid-tile>
      <% ['children_count', 'junior_youth_count', 'youth_count', 'men_count', 'women_count'].each do |a| %>
        <md-grid-tile class="<%= a %> translucid"><input type="number" ng-model="growth_profile.<%= a %>"></md-grid-tile>
      <% end %>
      <md-grid-tile class="gray translucid">{{growth_profile.children_count + growth_profile.junior_youth_count + growth_profile.youth_count + growth_profile.men_count + growth_profile.women_count}}</md-grid-tile>
    </md-grid-list>

    <md-grid-list id="table-5" md-cols="6" md-row-height="4:1" md-gutter="1px">
      <md-grid-tile class="strong" md-colspan="6"><h3>Tabela 5: Desenvolvimento comunitário</h3></md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Ciclo</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Nº de lares visitados para aprofundamento</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Nº de localidades que realizam as Festas de 19 Dias</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Nº estimado de crentes que participam das Festas de 19 Dias</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Nº de localidades que observam um ou mais Dias Sagrados</md-grid-tile>
      <md-grid-tile class="gray strong" md-rowspan="2">Nº estimado de indivíduos que observaram um ou mais Dias Sagrados</md-grid-tile>

      <md-grid-tile class="gray translucid">{{growth_profile.cycle}}</md-grid-tile>
      <% ['homes_visited_for_deepening_count', 'sites_with_19_days_feasts_count', 'participants_of_19_days_feasts_count', 'sites_with_holidays_celebrantions_count', 'participants_of_holidays_count'].each do |a| %>
        <md-grid-tile class="<%= a %> translucid"><input type="number" ng-model="growth_profile.<%= a %>"></md-grid-tile>
      <% end %>
    </md-grid-list>

<!-- {{growth_profile}} -->
    <md-button class="md-raised" class="send-form" ng-click="sendForm()">Enviar</md-button>
  </md-card>
</md-content>
