<md-content class="page-container" layout-padding ng-init="growth_profile = <%= @growth_profile.to_json %>">
  <md-card class="page">
    <div layout="column">
      {{formStatus}}

      <table>
        <tr>
          <td>Agrupamento</td>
          <td><strong><%= @cluster.name %></strong></td>
        </tr><tr>
          <td>Estágio de desenvolvimento</td>
          <td><strong><%= @cluster.growth_stage %></strong></td>
        </tr><tr>
          <td>Conselho Regional Bahá'í</td>
          <td><strong><%= @cluster.counsil_name %></strong></td>
        </tr><tr>
          <td>Número de coordenadores do instituto</td>
          <td>
            <table>
              <tr><td/><td>CIA:</td><td><strong><%= @cluster.cia_count %></strong></td></tr>
              <tr><td/><td>CABC:</td><td><strong><%= @cluster.cabc_count %></strong></td></tr>
              <tr><td/><td>CGPJ:</td><td><strong><%= @cluster.cgpj_count %></strong></td></tr>
              <tr><td/><td>CCE:</td><td><strong><%= @cluster.cce_count %></strong></td></tr>
            </table>
          </td>
        </tr><tr>
          <td>Tamanho geográfico (aproximado)</td>
          <td><strong><%= @cluster.geographic_size %></strong></td>
        </tr><tr>
          <td>População total da área</td>
          <td><strong><%= @cluster.population_size %></strong></td>
        </tr><tr>
          <td>Número atual de localidades com um ou mais crentes</td>
          <td><strong><%= @cluster.sites_with_believers_count %></strong></td>
        </tr><tr>
          <td>Número atual de Assembleias Espirituais Locais</td>
          <td><strong><%= @cluster.lsa_count %></strong></td>
        </tr><tr>
          <td>Nome dos membros do Corpo Auxiliar no agrupamento</td>
          <td><strong><%= @cluster.abm_names %></strong></td>
        </tr>
      </table>
    </div>

    {{growth_profile}}

    <md-button class="md-raised" ng-click="sendForm()">Enviar</md-button>
  </md-card>
</md-content>
