<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div layout="row" layout-align="center center">
    <h2 layout-padding><%= t 'activerecord.attributes.user.log_in_as' %> <%= t "activerecord.models.#{resource_name}.one" %></h2>
  </div>

  <div layout="row" layout-align="center center">
    <md-input-container layout-align="center center">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </md-input-container>

    <md-input-container>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </md-input-container>
  </div>

  <div layout="row" layout-align="center center">
    <md-input-container>
      <md-checkbox><%= t 'activerecord.attributes.user.remember_me' %></md-checkbox>
    </md-input-container>
  </div>

  <div layout="row" layout-align="center center">
    <%= f.submit t('activerecord.attributes.user.log_in'), class: 'md-raised md-primary md-button' %>
  </div>

  <div layout="row" layout-align="center center">
    <%= link_to t('activerecord.attributes.user.forgot_your_password'), new_password_path(resource_name) %>
  </div>
<% end %>

