<md-grid-list id="table-9" md-cols="9" md-row-height="4:1" md-gutter="1px">
  <md-grid-tile class="strong" md-colspan="9"><h3>Recursos humanos externos nesta data</h3></md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">#</md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2" md-colspan="3">Nome Completo</md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">Reuniões Devocionais</md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">Aulas para Crianças</md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">Grupos de Pré-jovens</md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">Círculos de Estudo</md-grid-tile>
  <md-grid-tile class="gray strong" md-rowspan="2">Visitas aos Lares</md-grid-tile>

  <% (0..9).each do |n| %>
    <md-grid-tile class="gray"><%= n + 1 %></md-grid-tile>
    <% ['full_name', 'devotional_gatherings', 'children_classes', 'junior_youth_groups', 'study_circles', 'visits'].each do |a| %>
      <md-grid-tile md-colspan="<%= a == 'full_name' ? 3 : 1 %>"><input ng-change="calculateTotals('external_human_resources')" type="text" ng-model="growth_profiles[3].external_human_resources[<%= n %>].<%= a %>"></md-grid-tile>
    <% end %>
  <% end %>
  <md-grid-tile class="gray" ng-init="calculateTotals('external_human_resources')">Total</md-grid-tile>
  <md-grid-tile md-colspan="3 "></md-grid-tile>
  <% ['devotional_gatherings', 'children_classes', 'junior_youth_groups', 'study_circles', 'visits'].each do |a| %>
    <md-grid-tile md-colspan="<%= a == 'full_name' ? 3 : 1 %>">{{growth_profiles[3].external_human_resources.<%= a %>_count}}</md-grid-tile>
  <% end %>
</md-grid-list>

