<div id="table-2" class="list colspan-14">
  <div class="col-14 no-border left">
    <h3>Tabela 2: Atividades centrais</h3>
  </div>

  <div class="col-14 list">
    <div class="col-1 small">&nbsp;</div>
    <div class="col-3 header small">Reuniões devocionais</div>
    <div class="col-3 header small">Aulas bahá'ís para crianças</div>
    <div class="col-3 header small">Grupos de pré-jovens</div>
    <div class="col-3 header small">Círculos de estudos</div>
  </div>

  <div class="col-14 list header">
    <div class="col-1 small">Ciclos</div>
    <% ['devotional_gathering', 'children_classes', 'junior_youth_group', 'study_circle'].each do |a| %>
      <% {count: '# de ativ.', participants: '# de partic.', non_bahais_friends: '# de amigos'}.each do |k, v| %>
        <div class="col-1 small <%= 'with-tooltip' if k != :non_bahais_friends %>">
          <%= v %>
          <%= '<md-tooltip class="md-subhead" layout-padding md-direction="bottom">'.html_safe if k != :non_bahais_friends %>
            <%= 'Representa o número de atividades sendo realizadas de forma regular.' if k == :count %>
            <%= 'Representa o número total estimado de indivíduos que participam da atividade, incluindo aqueles que participam, mas que ainda não são registrados como bahá’ís.' if k == :participants %>
          <%= '</md-tooltip>'.html_safe if k != :non_bahais_friends %>
          </md-tooltip>
        </div>
      <% end %>
    <% end %>
    <div class="col-1 small" ng-init="validateAndCalculateTable2()">Total</div>
  </div>

  <% (0..3).each do |c| %>
    <div class="col-14 list hover">
      <div class="col-1 header small">{{growth_profiles[<%= c %>].gregorian_cycle.end_of_cycle}}</div>

      <% ['devotional_gathering', 'children_classes', 'junior_youth_group', 'study_circle'].each do |a| %>
        <% ['_count', '_participants', '_non_bahai_friends'].each do |b| %>
          <div class="col-1 small">
            <% if c < 3 %>
              &nbsp;{{growth_profiles[<%= c %>].<%= a + b %>}}&nbsp;
            <% else %>
              <input class="small" ng-class="<%= "{invalid: growth_profiles[#{c}].#{a}_invalid}" if b != '_count' %>" ng-change="validateAndCalculateTable2()" type="number" ng-model="growth_profiles[<%= c %>].<%= a + b %>">
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="col-1 small no-border">&nbsp;{{growth_profiles[<%= c %>].main_activities_count}}&nbsp;</div>
    </div>
  <% end %>
  <div class="col-14 no-border">
    <md-tooltip class="md-subhead" layout-padding md-visible="table2_invalid">O número de amigos da fé não deveria ser maior que o número de participantes</md-tooltip>
  </div>
</div>
