<div id="table-9" class="list colspan-14">
  <div class="col-14 no-border">
    <h3>Acompanhamento das conferências de juventude</h3>
    <button class="help" ng-click="showHelp('Esta tabela tem como objetivo, ajudar as agências no acompanhamento dos jovens que foram às conferências de juventude e daqueles que foram influenciados pelo movimento pós-conferência. A tabela deve ser preenchida em ordem alfabética com o nome de uma só pessoa por cada linha, indicando com “x” nas colunas posteriores, conforme o seguinte referencial: Conferência: se participou da conferência; Conversas: se está participando de alguma conversa pós conferência; Instituto: se está envolvido no estudo de algum livro do Instituto Ruhí; Atividade: se está promovendo alguma atividade central; Acompanha: se está acompanhando outros jovens nas atividades centrais.', 'Instruções')">?</button>
  </div>

  <div class="col-14 no-border">
    <button ng-click="copyDataFromLastCycle('youth_conferences_accompaniments')">Copiar dados do ciclo anterior</button>
  </div>

  <div class="col-14 list header">
    <div class="col-1">#</div>
    <div class="col-3">Nome Completo</div>
    <div class="col-2">Conferência</div>
    <div class="col-2">Conversas</div>
    <div class="col-2">Instituto</div>
    <div class="col-2">Atividade</div>
    <div class="col-2">Acompanha</div>
  </div>

  <% fields = ['full_name', 'conference', 'conversations', 'institute', 'activity', 'accompaniment'] %>
  <% (1..40).each do |c| %>
    <div class="col-14 list hover">
      <div class="col-1 header"><%= c %></div>
      <% fields.each do |f| %>
        <div class="col-<%= f == 'full_name' ? 3 : 2 %>">
          <input type="<%= f == 'full_name' ? 'text' : 'checkbox' %>" ng-change="changeFormState(); calculateTotals('youth_conferences_accompaniments', <%= fields %>)" ng-model="growth_profiles[3].youth_conferences_accompaniments[<%= c %>].<%= f %>">
        </div>
      <% end %>
    </div>
  <% end %>
</div>

