<div id="table-9" class="list colspan-14">
  <div class="col-14 no-border">
    <h3>Recursos humanos do agrupamento ativos nesta data</h3>
  </div>

  <div class="col-14 no-border">
    <button ng-click="copyDataFromLastCycle('active_internal_human_resources')">Copiar dados do ciclo anterior</button>
  </div>

  <div class="col-14 list header">
    <div class="col-1">#</div>
    <div class="col-3">Nome Completo</div>
    <div class="col-2">Reuniões Devocionais</div>
    <div class="col-2">Aulas para Crianças</div>
    <div class="col-2">Grupos de Pré-jovens</div>
    <div class="col-2">Círculos de Estudo</div>
    <div class="col-2">Visitas aos Lares</div>
  </div>

  <% (0..9).each do |c| %>
    <div class="col-14 list hover">
      <div class="col-1 header"><%= c %></div>
      <% ['full_name', 'devotional_gatherings', 'children_classes', 'junior_youth_groups', 'study_circles', 'visits'].each do |f| %>
        <div class="col-<%= f == 'full_name' ? 3 : 2 %>">
          <input ng-change="changeFormState(); calculateTotals('active_internal_human_resources')" ng-model="growth_profiles[3].active_internal_human_resources[<%= c %>].<%= f %>">
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="col-14 list no-border">
    <div class="col-1" ng-init="calculateTotals('active_internal_human_resources')">Total</div>
    <div class="col-3"></div>
    <% ['devotional_gatherings', 'children_classes', 'junior_youth_groups', 'study_circles', 'visits'].each do |a| %>
      <div class="col-<%= a == 'full_name' ? 3 : 2 %>">{{growth_profiles[3].active_internal_human_resources.<%= a %>_count}}</div>
    <% end %>
  </div>
</div>
