<md-content class="page-container" layout-padding>
  <md-card class="page" layout-padding ng-init="ns=<%= @cluster.current_cycle.to_json %>">
    <h2>Agrupamento: <%= @cluster.name %></h2>
    <h3>Escolha o ciclo:</h3>

    <div id="cycle-bars" class="colspan-<%= @cycles_to_choose.count %> list">
      <% @cycles_to_choose.each do |cycle| %>
        <div class="cycle-bar md-raised col-1 no-border">
          <div class="label"><%= GrowthProfile.to_gregorian_cycle(cycle)[:beginning_of_cycle] %></div>
          <md-button class="md-raised" ng-href="/cluster/<%= @cluster.id %>/cycle/<%= cycle %>"><%= cycle %></md-button>
        </div>
      <% end %>
    </div>
  </md-card>
</md-content>
