<md-content class="page-container" layout-padding>
  <div ng-init="growth_profiles = <%= @growth_profiles.to_json %>" />
  <div ng-init="cluster = <%= @cluster.to_json %>" />

  <md-card class="page" layout-padding>
    <%= render 'info' %>
    <%= render 'table_1' %>
    <%= render 'table_2' %>
    <%= render 'table_3' %>
    <%= render 'table_4' %>
    <%= render 'table_5' %>
    <%= render 'table_6' %>
    <h2>Comentários</h2>
    <%= render 'table_7' %>
    <%= render 'table_8' %>
    <%= render 'table_9' %>
    <%= render 'table_10' %>
    <h2>Desenvolvimento de recursos humanos</h2>
    <%= render 'pyramid_1' %>
    <%= render 'pyramid_2' %>

    <button class="md-raised {{formStatus}}" id="send-form" ng-click="sendForm()">
      <img ng-class="{active: formStatus=='ok'}" src="/assets/ic_done_24px.svg">
      <img ng-class="{active: formStatus=='changed'}" src="/assets/ic_save_24px.svg">
      <img ng-class="{active: formStatus=='sending'}" src="/assets/ic_loop_24px.svg">
      <img ng-class="{active: formStatus=='saved'}" src="/assets/ic_done_24px.svg">
      <img ng-class="{active: formStatus=='error'}" src="/assets/ic_warning_24px.svg">
    </button>
  </md-card>
</md-content>
