<div class="loading">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/>
  </svg>
</div>

<md-content class="page-container preload-hidden hidden" layout-padding>
  <div ng-init="growth_profiles = <%= @growth_profiles.to_json %>" />
  <div ng-init="cluster = <%= @cluster.to_json %>" />

  <md-card class="page" layout-padding>
    <%= render partial: 'info' %>
    <%= render partial: 'table_1' %>
    <%= render partial: 'table_2' %>
    <%= render partial: 'table_3' %>
    <%= render partial: 'table_4' %>
    <%= render partial: 'table_5' %>
    <%= render partial: 'table_6' %>
    <h2>Comentários</h2>
    <%= render partial: 'table_7' %>
    <%= render partial: 'table_8' %>
    <h2>Desenvolvimento de recursos humanos</h2>
    <%= render partial: 'pyramid_1' %>
    <%= render partial: 'pyramid_2' %>
    <%= render partial: 'table_11' %>
    <%= render partial: 'table_9', locals: {growth_profile: @growth_profiles[3]} %>
    <%= render partial: 'table_10', locals: {growth_profile: @growth_profiles[3]} %>
    <%= render partial: 'table_12', locals: {growth_profile: @growth_profiles[3]} %>

    <button class="md-raised {{formStatus}}" id="send-form" ng-click="sendForm()">
      <%= image_tag('ic_done_24px', 'ng-class': "{active: formStatus=='ok'}") %>
      <%= image_tag('ic_save_24px', 'ng-class': "{active: formStatus=='changed'}") %>
      <%= image_tag('ic_loop_24px', 'ng-class': "{active: formStatus=='sending'}") %>
      <%= image_tag('ic_done_24px', 'ng-class': "{active: formStatus=='saved'}") %>
      <%= image_tag('ic_warning_24px', 'ng-class': "{active: formStatus=='error'}") %>
    </button>
  </md-card>
</md-content>
