<md-content class="page-container" layout-padding>
  <div ng-init="growth_profiles = <%= @growth_profiles.to_json %>" />
  <div ng-init="cluster = <%= @cluster.to_json %>" />

  <md-card class="page" layout-padding>
    <%= render partial: 'info' %>
    <%= render partial: 'table_1' %>
    <%= render partial: 'table_2' %>
    <%= render partial: 'table_3' %>
    <%= render partial: 'table_4' %>
    <%= render partial: 'table_5' %>
    <%= render partial: 'table_6' %>
    <h2>Comentários</h2>
    <%= render partial: 'table_7' %>
    <%= render partial: 'table_8' %>
    <h2>Desenvolvimento de recursos humanos</h2>
    <%= render partial: 'pyramid_1' if @cluster.growth_stage == 'PIC' %>
    <%= render partial: 'pyramid_2' if @cluster.growth_stage == 'PIC' %>
    <%= render partial: 'table_11' if @cluster.growth_stage == 'PIC' %>
    <%= render partial: 'table_9', locals: {growth_profile: @growth_profiles[3]} %>
    <%= render partial: 'table_10', locals: {growth_profile: @growth_profiles[3]} %>
    <%= render partial: 'table_12', locals: {growth_profile: @growth_profiles[3]} if @cluster.growth_stage == 'PIC' %>

    <button class="md-raised {{formStatus}}" id="send-form" ng-click="sendForm()">
      <%= image_tag('ic_done_24px', 'ng-class': "{active: formStatus=='ok'}") %>
      <%= image_tag('ic_save_24px', 'ng-class': "{active: formStatus=='changed'}") %>
      <%= image_tag('ic_loop_24px', 'ng-class': "{active: formStatus=='sending'}") %>
      <%= image_tag('ic_done_24px', 'ng-class': "{active: formStatus=='saved'}") %>
      <%= image_tag('ic_warning_24px', 'ng-class': "{active: formStatus=='error'}") %>
    </button>
  </md-card>
</md-content>
